.data-bar {
  display: flex;
  flex-direction: column reverse;
  align-items: flex-end;
  transition: 125ms ease-in-out;
  transform: rotatex(180deg) translate3d(0, -400px,0);
  transform-origin: top;
}